@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color-ligth-red: hsl(0, 100%, 67%);
    --primary-color-orangey-yellow: hsl(39, 100%, 56%);
    --primary-color-green-teal: hsl(166, 100%, 37%);
    --primary-color-cobalt-blue: hsl(234, 85%, 45%);
    --gradient-light-slate-blue: hsl(252, 100%, 67%);
    --gradient-light-royal-blue: hsl(241, 81%, 54%);
    --gradient-violet-blue-circle: hsla(256, 72%, 46%, 1);
    --gradient-persian-blue-circle: hsla(241, 72%, 46%, 0);
    --neutral-color-white: hsl(0, 0%, 100%);
    --neutral-color-pale-blue: hsl(221, 100%, 96%);
    --neutral-color-light-lavender: hsl(241, 100%, 89%);
    --neutral-color-dark-gray-blue: hsl(224, 30%, 27%);
    --font-size-body-copy: 18px;
    --font-family-hanken-grotesk: 'Hanken Grotesk', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-hanken-grotesk);
    font-size: var(--font-size-body-copy);
    color: var(--neutral-color-dark-gray-blue);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    display: flex;
    max-width: 600px;
    background: var(--neutral-color-white);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.card-title {
    --neutral-color-white: hsla(0, 0%, 100%, 0.6);
    font-size: var(--font-size-body-copy);
    color: var(--neutral-color-white);
}

.card-header, .summary-section {
    width: 50%;
}

.card-header {
    background: linear-gradient(to bottom, var(--gradient-light-slate-blue), var(--gradient-light-royal-blue));
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    color: var(--neutral-color-white);
}

.card-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, var(--gradient-violet-blue-circle), var(--gradient-persian-blue-circle));
    border-radius: 50%;
    height: 140px;
    width: 140px;
    margin: 20px;
}

.score-total {
    font-size: 14px;
    --neutral-color-white: hsla(0, 0%, 100%, 0.4);
    color:  var(--neutral-color-white);
    font-weight: 600;
    font-family: var(--font-family-hanken-grotesk);
}

.card-subtitle {
    font-size: 24px;
}

.card-description{
    text-align: center;
    font-size: 14px;
    padding: 0 30px;
    --neutral-color-pale-blue: hsla(221, 100%, 96%, 0.7);
    color: var(--neutral-color-pale-blue);
}

.summary-section {
    padding: 30px;
}

.card-summary-button {
    display: block;
    background: var(--neutral-color-dark-gray-blue);
    color: var(--neutral-color-white);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 30px;
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
}

.section-title {
    padding-bottom: 20px;
}

.summary-item {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px 0;
    margin-bottom: 12px;
    border-radius: 10px;
    overflow: hidden;
    font-size: 14px;
    font-weight: 600;
}

.summary-icon {
    margin: 0 10px;
}

.section-title {
    font-size: var(--font-size-body-copy);
}

.reaction-label {
    color: var(--primary-color-ligth-red);
    flex-grow: 1;
}

.memory-label {
    color: var(--primary-color-orangey-yellow);
    flex-grow: 1;
}

.verbal-label {
    color: var(--primary-color-green-teal);
    flex-grow: 1;
}

.visual-label {
    color: var(--primary-color-cobalt-blue);
    flex-grow: 1;
}

.score {
    margin-right: 10px;
}

.score-number-result {
    font-weight: 800;
    font-size: 3.5rem;
}

.score-number {
    font-weight: 800;
}

.score-text {
    --neutral-color-dark-gray-blue: hsla(224, 30%, 27%, 0.4);
    font-weight: 800;
    color: var(--neutral-color-dark-gray-blue);
}

@media screen and (max-width: 426px) {
    
    .card {
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 100%;
        border-radius: 0 0 20px 20px;
    }

    .card-header, .summary-section {
        width: 100%;
    }

    .card-header {
        border-radius: 0 0 30px 30px;
    }

    .card-score {
        margin: 20px;
    }

    .container {
        align-items: stretch;
    }

    .card-summary-button {
        margin-top: 20px;
        padding: 20px 20px;
        font-size: 18px;
    }
}